<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>LEAP-Blog</title>
</head>

<body>
    <!-- <header>
        <a href="/" class="logo"> LEAP.AI</a>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="/blog.html">Services</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header> -->
    <div class="blog-container">
        <div class="blog">
            <img src="/static/assets/1.png" alt="">
            <span>Business Development</span>
            <div class="blog-title">
                <span>Business Development</span>
                <h2>How Does Digital Transformation Save Costs?</h2>
                <p><a href="#">Business Development Manager</a> / October 13, 2020</p>
            </div>
            <p>A digitally mature business can do wonders when it comes to delighting customers. That’s because such a
                business is able to save the energy of its team and channelize it more creatively towards strategy,
                marketing, and improving customer experience.</p>
            <button>Continue Reading</button>
        </div>
        <div class="blog">
            <div class="blog">
                <img src="/static/assets/2.png" alt="">
                <div class="blog-title">
                    <span>Business Development</span>
                    <h2>How Does Digital Transformation Save Costs?</h2>
                    <p><a href="#">Business Development Manager</a> / October 13, 2020</p>
                </div>
                <p>A digitally mature business can do wonders when it comes to delighting customers. That’s because such
                    a business is able to save the energy of its team and channelize it more creatively towards
                    strategy, marketing, and improving customer experience.</p>
                <button>Continue Reading</button>
            </div>
        </div>
        <div class="blog">
            <div class="blog">
                <img src="/static/assets/3.png" alt="">
                <div class="blog-title">
                    <span>Business Development</span>
                    <h2>How Does Digital Transformation Save Costs?</h2>
                    <p><a href="#">Business Development Manager</a> / October 13, 2020</p>
                </div>
                <p>A digitally mature business can do wonders when it comes to delighting customers. That’s because such
                    a business is able to save the energy of its team and channelize it more creatively towards
                    strategy, marketing, and improving customer experience.</p>
                <button>Continue Reading</button>
            </div>
        </div>
        <div class="search-blog">
            <button>SEARCH</button>
            <input type="search" name="" id="">
            <button>CATEGORY</button>
            <div class="category-list">
                <p>Business Development(3)</p>
                <p>Software Development(2)</p>
                <p>Web Development(3)</p>
            </div>
            <button>MOST VIEWED</button>
            <div class="most-viewed-list">
                <p>Which is the Best CMS Software to Build a Website for better outcomes ?</p>
                <p>Which is the Best CMS Software to Build a Website for better outcomes ?</p>
                <p>Which is the Best CMS Software to Build a Website for better outcomes ?</p>
            </div>
            <button>FOLLOW US</button>
        </div>
    </div>
    <!-- <footer id="contact">
        <div class="footerwaveWrapper footerwaveAnimation">
            <div class="waveWrapperInner footertop">
                <div class="footerwave footerwaveTop" style="background-image: url(wave-top.png); "></div>
            </div>
            <div class="footerwaveWrapperInner footermid">
                <div class="footerwave footerwaveMid" style="background-image: url(wave-mid.png); "></div>
            </div>
            <div class="footerwaveWrapperInner footerbottom">
                <div class="footerwave footerwaveBottom" style="background-image: url(wave-bot.png); "></div>
            </div>
        </div>
        <div class="footer">

        </div>
    </footer> -->
    <script src="/static/script.js" type="text/javaScript"></script>
</body>

</html>