<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Portfolio</title>
</head>

<body>
    <header>
        <a href="/" class="logo"> LEAP.AI</a>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </header>
    <main>
        <section class="section-1">
            <div class="container">
                <div class="big-circle"></div>
                <div class="sm-circle"></div>
                <div class="image">
                    <img src="/static/assets/leapai.png" alt="">
                </div>
                <div class="content">
                    <h3>LEAP <span>AI</span></h3>
                    <p>Leap Ai is an interactive app that integrates learning, earning, and playing experiences. Engage
                        with us on various social media platforms, participate in surveys, and crowdsource activities to
                        earn rewards. Join our YouTube channel weekly for a chance to win exciting gifts. Immerse
                        yourself in community and VR games for added enjoyment.
                    </p>
                    <button>Know More</button>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="container">
                <div class="big-circle"></div>
                <div class="sm-circle"></div>
                <div class="image"><img src="/static/assets/realEstate.png" alt=""></div>
                <div class="content">
                    <h3>LEAP <span> Real Estate</span></h3>
                    <p>
                        Leap Real Estate is a predictive app offering insights into property markets. Utilizing diverse
                        data sources, including developer information, online platforms, rumors, and government plans,
                        it forecasts property prices and rentals. Empower yourself with knowledge about future trends,
                        ensuring informed decisions on real estate investments across the nation.
                    </p>
                    <button>Know More</button>
                </div>
        </section>
        <section class="section-3">
            <div class="container">
                <div class="big-circle"></div>
                <div class="sm-circle"></div>
                <div class="image"><img src="/static/assets/app design.png" alt=""></div>
                <div class="content">
                    <h3>LEAP <span>E-Store</span></h3>
                    <p>
                        Leap E Store is your ultimate online shopping companion, utilizing APIs from various apps and
                        Google Search API. We find the most affordable prices for products across platforms, directing
                        users to the best deals and making their shopping experience seamless.
                    </p>
                    <button>Know More</button>
                </div>
        </section>
        <section class="section-4">
            <div class="container">
                <div class="big-circle"></div>
                <div class="sm-circle"></div>
                <div class="image">
                    <img src="/static/assets/HiringSol.png" alt="">
                    <div class="mid-circle"></div>
                </div>
                <div class="content">
                    <h3>LEAP <span>Hiring Solution</span></h2>
                        <p>
                            Leap Hiring Solution acts as a market catalyst, connecting companies with individuals based
                            on
                            their skills and experience. Streamlining the hiring process, companies can efficiently find
                            professionals for specific projects, eliminating the need for extensive training and
                            long-term
                            commitments. This approach benefits both companies and users, ensuring projects are executed
                            smoothly and individuals are generously compensated for their skills.
                        </p>
                        <button>Know More</button>
                </div>
        </section>
        <section class="section-5">
            <div class="container">
                <div class="big-circle"></div>
                <div class="sm-circle"></div>
                <div class="image"><img src="/static/assets/app design.png" alt=""></div>
                <div class="content">
                    <h3>LEAP <span>Ginnie</span></h2>
                        <p>
                            Leap Hiring Solution acts as a market catalyst, connecting companies with individuals based
                            on
                            their skills and experience. Streamlining the hiring process, companies can efficiently find
                            professionals for specific projects, eliminating the need for extensive training and
                            long-term
                            commitments. This approach benefits both companies and users, ensuring projects are executed
                            smoothly and individuals are generously compensated for their skills.
                        </p>
                        <button>Know More</button>
                </div>
        </section>
    </main>
    <footer id="contact">
        <div class="footerwaveWrapper footerwaveAnimation">
            <div class="waveWrapperInner footertop">
                <div class="footerwave footerwaveTop" style="background-image: url(/static/assets/wave-top.png); "></div>
            </div>
            <div class="footerwaveWrapperInner footermid">
                <div class="footerwave footerwaveMid" style="background-image: url(/static/assets/wave-mid.png); "></div>
            </div>
            <div class="footerwaveWrapperInner footerbottom">
                <div class="footerwave footerwaveBottom" style="background-image: url(/static/assets/wave-bot.png); "></div>
            </div>
        </div>
        <div class="footer">
        </div>
    </footer>
    <script src="/static/script.js" type="text/javaScript"></script>
</body>

</html>